<style>
body {
    background-color: Black ;

}
h1 {
  margin: 5px;
  padding: 5px;
  font-size: 30px;
  font-style: Palatino Linotype;
  color: red;

}

p {
  font-size: 20px;
  font-style: Palatino Linotype;
  color: red;
  margin: 5px;
  padding: 20px;
}
</style>
</br>
<center><h1>Bienvenido a la Vista Principal</h1>
	<header>Alguna Mamada></header>
  <h1>Alguna Mamada</h1>
</center>
