<style>
body {
    background-color: Black ;

}
h1 {
  margin: 5px;
  padding: 5px;
  font-size: 30px;
  font-style: Palatino Linotype;
  color: red;

}

p {
  font-size: 20px;
  font-style: Palatino Linotype;
  color: red;
  margin: 5px;
  padding: 20px;
}
</style>
</br>

<center><img src="http://www.todovegano.com/wp-content/uploads/2016/07/tec-png.png" style="max-width: 15%; height: auto;" alt="Meadowlark Travel Logo"></center>
<center><h1>Bienvenido a la Vista Principal</h1>
  <p>Elije una opci&oacute;n del Men&uacute;</p>
</center>
