
<style>
body {
    background-color: Black ;

}
h1 {
  margin: 5px;
  padding: 5px;
  font-size: 30px;
  font-style: Palatino Linotype;
  color: red;

}
input[type=submit] {
    width: 10em;  height: 2em;   font-size:24px;
}

input[type="text"]
{
    font-size:24px;
}

div {

  font-size: 70px;
  font-style: Palatino Linotype;
  color: red;
  margin: 1px;
  padding: 0px;
}

.formContainer {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

</style>

</br>
<div>
<div class="formContainer">
	<form name="formula">
		<div>
			<center><label>Texto</label></center>
			<div>
				<center><input type="text" id="fieldName" name="name"></center>
			</div>
		</div>
		<div>
			<center><label>Clave</label></center>
			<div>
				<center><input type="text" required id="fieldName" name="email"></center>
			</div>
		</div>
		<div>
      <center>
			<div>
				<input type="submit" value="Cifrar" onclick="sending(event, true)">

        <input type="submit"value="Decifrar" onclick="sending(event, false)">
      </div>
    </center>
		</div>
	</form>

  	<div class="center"> <center>  Último Resultado: {{cifrado}} </center></div>

</div>



{{#section 'jquery'}}

<script>
	function sending(evt, numero){
			evt.preventDefault();
			var action = "/process";

			$.ajax({
				type: 'POST',
				url: action,
         data: { name: formula.name.value, email : formula.email.value, tipo: numero} ,
				dataType: 'json',
				success: function(data){
					if(data.success){
            alert("Este es el resultado:"+ data.cifrado);

						$('div.formContainer').html('<h1>La operaci&oacute;n fue exitosa. <a href="/vigenere">Regresa</a> para ver el último resultado y hacer otra prueba</h1>');

					} else {
            console.log("ERROR");
						$('div.formContainer').html('Hubo un error intenta de nuevo, no debe haber campos vacios.');
					}
				},
				error: function(){
					console.log("ERROR");
					$('div.formContainer').html('Hubo un error intenta de nuevo.');
				}
			});
	}
</script>

{{/section}}
