<div>
	{{partials.weather.alumnos}}
	<H1> Promedio Gral por <a href= "/ejercicio1"> materia</a> </H2>

</div>

<div>
<H1> Promedio Inglés: {{promMate}} </H1>
<H1> Promedio Seguridad Informática: {{promEsp}} </H1>
</div>
