<!doctype html>
<html>
<head>
<style>
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 86px;
    text-decoration: none;
		font-size: 55px;
}

nav li a:hover {
    background-color: #111;
}

.footer {
   right: 0;
   bottom: 0;
   left: 0;
   padding: 1rem;
   background-color:  #333;
   text-align: center;
	 color: white;
	 font-size: 50px;

}
</style>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<meta http-equiv="Content-Language" content="es">
<meta name="GENERATOR" content="Microsoft FrontPage 4.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<meta http-equiv="X-UA-Compatible" content="IE=edge">


	<title>Parcial 1</title>


  	{{#if showTests}}
  		<link rel="stylesheet" href="/vendor/mocha.css">
  	{{/if}}
  	<script src="//code.jquery.com/jquery-2.0.2.min.js"></script>

</head>


<body>


<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script>window.jQuery || document.write('<script src="/vendor/js/jquery-2.1.1.min.js"><\/script>')</script>

<nav>
<ul>
  <li><a href="/">P&aacute;gina Principal.</a></li>
  <li><a href="/cesar">Cifrado Cesar.</a></li>
  <li><a href="/vigenere">Cifrado Vigen&eacute;re.</a></li>
</ul>
</nav>

	{{{_sections.jquery}}}

	{{{body}}}

	{{#if showTests}}
		<div id="mocha"></div>
		<script src="/vendor/mocha.js"></script>
		<script src="/vendor/chai.js"></script>
		<script>
			mocha.ui('tdd');
			var assert = chai.assert;
		</script>
		<script src="/qa/tests-global.js"></script>
		{{#if pageTestScript}}
			<script src="{{pageTestScript}}"></script>
		{{/if}}
		<script>mocha.run();</script>
	{{/if}}


	<div class="footer">
	P&aacute;gina desarrollada por Rodrigo Solana Chao - Miguel del Moral  :ITESM:
</div>

</body>
</html>
